@import '../../common/css/rpx.scss';
@import '../../common/css/const.scss';
@import '../../common/css/mixin.scss';
page,
.index-ctner{
    height: 100%;
  .ix-input-wrap{
    position: relative;
    padding: rpx(12) rpx(25);
    display: flex;
    margin-top: rpx(20);
    .input-search{
      width: rpx(46);
      padding-left: rpx(16);
      //border-top-left-radius: rpx(30);
      //border-bottom-left-radius: rpx(30);
      background: #F6F6F6;
      display: flex;
      align-items: center;
      image {
        width: rpx(25);
        height: rpx(26);
      }
    }
    .input-close {
      width: rpx(40);
      padding-right: rpx(16);
      //border-top-right-radius: rpx(24);
      //border-bottom-right-radius: rpx(24);
      background: #F6F6F6;
      display: flex;
      align-items: center;
      image {
        width: rpx(27);
        height: rpx(27);
      }
    }
    input {
      flex: 1;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      // border-radius: 0;
    }
    .input-msg {
      width: rpx(60);
      margin-left: rpx(18);
      display: flex;
      align-items: center;
    }
  }
    .ix-banner-wrap {
      //padding: 0 rpx(25);
      position: relative;
      //height: rpx(358);
      height: rpx(260);
        swiper,
        swiper-item,
        swiper-item image {
            width: 100%;
            height: 100%;
        }
      .dots{ //自定义轮播 圆点样式
        position: absolute;
        left: 0;
        right: 0;
        bottom: rpx(20);
        display: flex;
        justify-content: center;
        .dot{
          width: rpx(22);
          margin: 0 rpx(7);
          height: rpx(7);
          background:#D8D8D8;
          //opacity:0.5;
          border-radius: rpx(8);
        }
        .active{ //当前滑动的对应的位置
          width: rpx(26) !important;
          height: rpx(9) !important;
          background: #ffffff !important;
          border-radius: rpx(8) !important;
        }
      }
    }
    .ix-button{
      position: fixed;
      right: rpx(30);
      bottom: rpx(100);
      button:nth-of-type(1){
        margin-bottom: rpx(30);
      }
      button{
        background: $color-word-alarm;
        border-radius: 50%;
        width: rpx(100);
        height: rpx(100);
        flex-flow: row wrap;
        background: #F13939;
        flex-flow: row wrap;
        color: #FFFFFF;
        display: flex;
        font:{
          weight: bold;
          size: rpx(22);
        }
        line-height: rpx(30);
        align-items: center;

      }
    }
  /* 商品详情图样式 */
  .pro_detailImg{
    //width:100%;
    //font-size: 0; //父元素加上font-size:0;
    p{
      width:100%;
      img{
        width:300rpx;
        height:200rpx;
        display:block; //将图片设置成块元素
      }
    }

  }
}


