@import '../../../common/css/rpx.scss';
@import '../../../common/css/const.scss';
@import '../../../common/css/mixin.scss';
page{
}
.address-edit-ctner {
  padding: 0 rpx(40);
  height: 100%;
  .e-content{
    height: rpx(95);
    //@include borderBottomOnePx;
    border-bottom: rpx(1) solid #EEE;
    background: #FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .e-left{
      display: flex;
      justify-content: space-between;
      align-items: center;
      view{
          font-size: rpx(28);
          color: #333333;
        }
    }
    .e-right{

      font-size: rpx(28);
      color: #333333;
    }
  }

}
/*折叠另外样式*/
.item-index{
  margin-top: rpx(-20);
  view:last-child{
    border-bottom: none !important;
  }
}
.item-height{
  height: rpx(300);
  overflow: scroll;
}
.item-title{
  padding: rpx(10) 0;
  width: 100%;
  view{
    color: #333333;
    font-size: rpx(28);
    font-weight: bold;
  }
}
.item-content{
  text{
    font-size: rpx(26);
  }
  height: rpx(70);
  display: flex;
  align-items: center;
  margin-left: rpx(33);
  border-bottom: rpx(1) solid #EEE;
}
